#map{
  height: 70vh;
  width: 100%;
  border: solid #365881 2px;
}

.container{
  height: 100vh;
}

.menu{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color:black;
}

.menu a{
  text-decoration: none;
}

.menu_text{
  margin: 20px;
  padding: 10px;
  color: white;
  font-size: 30px;
}

.menu a:hover{
  color: #365881;
}

body{
  padding: 5px;
  margin: 10px;
  background-color: black;
}

h1{
  color: white;
  text-align: center;
  font: 40px;
}

p{
  color: #365881;
  text-align: center;
}

.potential{
  color:#383838;
  text-align: center;
  font-size: 10px;
}

h1:hover{
  color: #365881;
}

h1:hover #map{
  border: solid red 4px;
}

h1:hover p{
  color: red;
}
